#grid-container {
    position:absolute;
    width:100%;
    height:100%;
    display: grid;
    padding: 1px;
    grid-template-rows: 5% 95%;
    grid-template-columns: 12% 88%;
    grid-row-gap: 10px;
}

#navbar {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
}

#left-sidebar {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    overflow: auto;
}

#left-sidebar-header {
    display: grid;
    grid-template-columns: 60% 40%;
    height: 5%;
}

#left-sidebar-header-text {
    
}

#left-sidebar-controls {
    text-align: right;
}

#workspace {
    grid-column: 2 span 1;
    grid-row: 2 span 1;
    display: flex;
    flex-direction: column;
}

#todo-list-items-div{
    display: flex;
    flex-direction: column;
}

.list-item-card {
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

#todo-list-header-card {
	height: 5%;
}

.task-col {
    width:25%;
}

.due-date-col {
    width:25%;
}

.status-col {
    width:25%
}

.list-controls-col {
    width:25%;
    display: flex;
    flex-direction: row;
}

.list-item-control {
    width: 20%;
}

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}
.popup-data {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 15px;
  border: 1px solid #888;
  width: 30%;
}
#confirmDeleteSpan:hover,
#confirmDeleteSpan:focus,
#cancelDeleteSpan:hover,
#cancelDeleteSpan:focus {
  font-weight:bold;
  font-size: 1.2em;
  cursor: pointer;
}
#cancelDeleteSpan {
  padding-left: 30px;
}

.todo_lists_button {
	text-align: center;
	padding: 15px;
}

.yesNoSpans {
	border-top: 2px dotted;
}
